:root{
    --zinc-800: #27272a;
    --zinc-700: #3f3f46;
    --zinc-600: #52525b;
    --zinc-500: #71717a;
    --zinc-400: #a1a1aa;
    --zinc-300: #d4d4d8;
    --zinc-200: #e4e4e7;
    --emerald-300: #6ee7b7;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html, body{
    font-family: 'Inter', sans-serif;
    background: var(--zinc-800);
    color: var(--zinc-200);
}

header{
    height: 10%;
    margin: 20px 32px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header nav, div{
    display: flex;
    align-items: center;
}

header nav{
    gap: 20px;
}

header nav a{
    text-decoration: none;
    color: var(--zinc-400);
    font-weight: 500;
}
header nav a:hover{
    color: var(--zinc-300);
}

header nav .active{
    color: var(--zinc-300);
}
header div{
    gap: 12px;
}

header nav h1{
    font-size: 24px;
}

.search-bar{
    border: 2px solid var(--zinc-600);
    width: fit-content;
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 34px;
}

.search-bar input{
    flex: 1;
    background: transparent;
    padding: 8px 16px;
    border: none;
    outline: none;
    color: var(--zinc-300);
    font-size: 14px;
}

.search-bar input::placeholder{
    color: var(--zinc-300);
    font-size: 14px;
}

.search-bar i{
    color: var(--emerald-300);
}

.icon{
    background: var(--emerald-300);
    color: #000;
    padding: 8px;
    border-radius: 4px;
}
